$color-white:#fff;
$color-platinum:#e6e7e7;
$color-light-gray:#d1d1d1;
$color-fuzzy-wuzzy:#e56353;
$color-ruddy-pink:#d76c69;
$color-spanish-pink:#ecbcba;
$color-eerie-black:#121619;
$color-raisin-black:#222323;
$color-nickel:#6c6e70;

//
$playfair-black-italica-xx-large: 70px;
$playfair-black-italica-x-large: 30px;
$playfair-display-regular-large: 18px;

$roboto-light-medium: 16px;
$roboto-regular-small: 14px;
$x-small: 12px;